:root {
    --color-first: #131822;
    --color-second: #000000;
    --color-third: #080B12;
    --color-fourth: #282828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.main-container {
    color:white;
    flex-grow: 1;
    overflow: auto;
    display: flex;
  }
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow: auto;
}

  .navbar {
    background-color: var(--color-second);
    width: 200px;
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
  .spotifyLogo {
    padding: 1rem 3rem 1rem 1rem;
  }
  .logo-small {
    width: 6rem;
    padding: 1rem 3rem 1rem 1rem;
    display: none;
    
  }
  .homeLogo {
    display: flex;
    font-size: 1rem;
    border: 3rem;
  }
  .homeLogo:hover {
    border-left: 2px solid #ADFC31;
  }
  .homeLogo img {
    display: inline-block;
    width: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
  }
  .logoText {
    font-size: 1rem;
    margin: auto 0;
    color: #717171; 
  }
  .logoText:hover {
    color: #ffffff;
    font-size: 1.2rem;
  }
  .playlist {
    margin: 1rem;
    flex-grow: 1;
  }
  .pl-icon {
    font-size: 3rem;
    display: flex;
    margin-top: 1rem;
  }
  .pl-text {
    font-size: 1rem;
    display: inline-block;
    margin: auto;
    color: #717171; 
  }
  .pl-text:hover {
    color: #ffffff;
    font-size: 1.2rem;
  }
  .pl-list {
    color: #717171;
    line-height: 3rem;
  }
  .pl-list p:hover {
    color: #ffffff;
    border-bottom: 1px dashed #ADFC31;
    font-size: 1.2rem;
  }
  .navbar-bottom {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #717171;
  }
  .navbar-bottom:hover {
    color: #ffffff;
    font-size: 1.2rem;
  }
  
  /* Barra superiore */

.sup-navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: auto;
    height: 5rem;
    background-color: #080B12;
  }
.btn {
    margin: 2rem;
    padding: .5rem 2rem .5rem 2rem;
    align-self: center;
    border-radius: 50px;
    color: #717171;
    background-color: #080B12;
}
.btn:hover {
    color: #ffffff;
    padding: .7rem 3rem .7rem 3rem;
}

/* barra menu */

.menu {
    background-color: var(--color-first);
}
.menu ul {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: .7rem;
    list-style: none;
    color: #717171;
}
.menu li {
    align-self: center;
    padding: 1rem;  
}
.menu li:hover {
    color: #ffffff;
    border-bottom: 2px solid #ADFC31;
    font-size: .9rem;
}

/* Contenitore principale*/  
  
.main-content-container {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-first);
}
.sub-container {
    width: 100%;
}
.sub-container h2 {
    margin: 20px;
}
.sub-container p {
    margin: 20px;
    color: #717171;
}
.sub-container .cont-cards {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
.sub-container .img {
    margin: 10px;
    width: calc((100% / 6) - 20px);
    display: flex;
    flex-direction: column;
}
.cont-cards h4 {
    margin-top: 1rem;
    text-align: center;
}
.cont-cards p {
    text-align: center;
}
.img-circle {
    border-radius: 50%;
}

/* Barra comandi */

.play-nav-container {
    background-color: var(--color-fourth);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.play-nav-left {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 2rem;
    color: #717171;
}
.play-nav-left img {
    width: 5rem;
}
.play-nav-left-text {
    margin: 1rem;
}
.play-nav-left-icons {
    margin: 2rem;
    font-size: 1rem;
}
.play-nav-left-icons:hover {
    color: #ffffff;
}
.play-nav-left-text:hover h4 {
    color: #ffffff;
}
.play-nav-center {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
}
.app-controls {
    margin: 0 auto;
    font-size: 1rem;
    color: #ffffff;
}
.app-controls i {
    padding: 1rem;
}
#play {
    font-size: 2rem;
    padding: 1rem;
}
.progress-bar {
    display: flex;
    flex-direction: row;
}
.progress-bar p {
    color: #ffffff;
    margin-left: 2rem;
    margin-right: 2rem;
}
.pb-grey {
    align-self: center;
    height: 7px;
    width: 300px;
    background-color: #5A5A5A;
}
.pb-light-grey {
    align-self: center;
    height: 7px;
    width: 18%;
    background-color: #C1C1C1;
}
.play-nav-right {
    display: flex;
    flex-direction: row;
}
.app-controls-right {
    align-self: center;
    color: #ffffff;
    font-size: 1rem;
}
.app-controls-right i {
    padding: 1rem;
}

.pb-grey-right {
    align-self: center;
    height: 7px;
    width: 150px;
    background-color: #5A5A5A;
}
.pb-light-grey-right {
    align-self: center;
    height: 7px;
    width: 18%;
    background-color: #C1C1C1;
}
